127.0.0.1       localhost
::1             localhost ip6-localhost ip6-loopback
ff02::1         ip6-allnodes
ff02::2         ip6-allrouters

127.0.1.1       {{ ansible_nodename }}
{% for i in range(2, 7): %}
{% if i|string not in ansible_nodename %}
192.168.0.20{{ i|string }}   swarmost{{ i|string }}
{% endif %}
{% endfor %}
{% if ansible_nodename != "swarmaster" %}
192.168.0.197   swarmaster
{% endif %}
